.container {
  width: 70vw;
  margin: 0 auto;
  margin-top: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header > h1 {
  margin: 0;
}

.header-img {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 1rem;
}

.strich {
  background-color: rgb(236, 235, 235);
  width: 90%; /* hier muss man gucken dass es nicht an Seite scrollbar sein soll */
  height: 1px;
  margin-left: 50px;
  margin-top: 60px;
}

.portions-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}

.portions-form h2 {
  margin-right: 15px;
}

.portions-form input {
  width: 200px;
  height: 28px;
  font-size: 18px;
  border-radius: 10px 0px 0px 10px;
}

.ingridients {
  font-size: 1.25rem;
}
.ingridients > tbody > tr {
  display: block;
  padding: 1rem;
  border-radius: 10px;
}
.ingridients > tbody > tr td:first-child {
  width: 7em;
}
.ingridients > tbody > tr:nth-child(2n+1) {
  background-color: rgb(236, 235, 235);
}

.buttons {
  display: flex;
  gap: 1rem;
}

.buttons > div {
  border-radius: 15px;
  background-color: rgb(239, 238, 238);
  font-size: 20px;
  padding: 5px 18px 5px 15px;
  font-weight: 300;
}

.autor-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.autor-container > div {
  font-size: 2rem;
  font-weight: bold;
}

.autor-img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}